*{
    background-color: #202020;
    color: white; 
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

/* Nav Styles */
nav{
    display: box;
    text-align: right;
    padding: 5px; 
    margin: 30px; 
    text-decoration: none;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

/* Paragraph Styles */ 
p {
    background-color: black;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Header Styles */ 
h1, h2 {
    background-color: #202020k;
    color: #DAA520;
    display: block; 
    padding: 5px; 
    margin: 30px; 

}

h3 {
    background-color: black;
    color: #DAA520; 
}

h4 {
    background-color: black;
    color: #20B2DA;
}

h5 {
    background-color: black;
    color: #20B2DA;
}

.experience {
    background-color: black;
    max-width: 800px;
    padding: 20px; 
    margin: 30px; 
    border-radius: 10px; 

}

/* Class Styles */
.tag {
    background-color: lightblue;
    color: black;
    font-size: 13px;
    margin: 0 5px 5px 0; 
    padding: 5px 10px;
    border-radius: 20px;
}