/* All Default Styles */
* {
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #202020;
    color: white;
}

/* Element Styles */
nav {
    display: box;
    text-align: right;
    padding: 5px;
    margin: 30px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    padding: 0px;
    margin: 50px;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
}

/* Paragraph Styles */
p {
    background-color: black;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Header Text Styles */
h1, h2 {
    background-color:#202020;
    color: #DAA520;
    display: block;
    padding: 5px;
    margin: 30px;
    text-align: center;

}

h3 {
    background-color: black;
    color: #DAA520;
}

h4 {
    background-color: black;
    color: #20B2DA;
}

h5 {
    background-color: black;
    color: #20B2DA;
}


/* Class Styles */
.home {
    text-align: center;
}

.bio,
.experience,
.projects {
    background-color: black;
    max-width: 1000px;
    display: block;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}

.bio-image {
    display: block;
    background-color: #202020;
    text-align: center;

}

.tag {
    background-color: lightblue;
    color: black;
    font-size: 13px;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 20px;
}

.button-quote, .button-background {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    padding: 5px 10px;
}

.h4-footer {
    background-color: #202020;
    text-align: center;
    margin: 0 5px 5px 0;
    margin: 0 5px 5px 0;
}

.footer-icons {
    text-align: center;
    padding: 20px;
}


.header-footer-links {
    color: white;
    padding: 8px;
}

.header-footer-links:hover {
    color: #DAA520; 
}

/* Body: Light Mode */
.light-mode-body {
    background-color: navy;
}


/* Media Query */
@media screen and (max-width: 450px) {
    nav {
        font-size: 15px;
    }
  }